{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "airbnb-typescript/base", "plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "@typescript-eslint/no-namespace": "warn",
    "implicit-arrow-linebreak": 1,
    "object-curly-newline": "warn",
    "consistent-return": "warn",
    "max-len": "warn",
    "import/no-named-as-default": 0
  }
}
