/* --- Font Stack --- */
$font-stack: 'Raleway', sans-serif;

/* --- Breakpoints --- */
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 800px;
$breakpoint-mobile: 375px;

/* --- Colors --- */
$primary: #fff;
$secondary: #fff;
$cta: #fff;
